/* src/App.css */
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

input[type="file"] {
  background-color: #1DB954;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
  border: none;
  font-size: 1rem;
}

h1 {
  color: #1DB954;
}

h2 {
  color: #FFFFFF;
}

.error {
  color: #ff0000;
  background-color: #ffe5e5;
  padding: 1rem;
  border-radius: 0.25rem;
}

.stats-card {
  background-color: #181818;
  padding: 1rem;
  border-radius: 0.5rem;
  text-align: left;
  width: 100%;
}

.stats-list {
  list-style-position: inside;
  padding-left: 0;
}
